.cartContenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    .botonLimpiar{
        background-color: rgb(236, 10, 10);
        border: 2px black solid;
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px;
        color: beige;
        font-size: 16px;
        cursor: pointer;
    }
    
   .checkout{
    color: beige;
    font-weight: bold;
    font-size: 22px;
   }
    .botonCheckout{
        background-color: #4a7150;
        border: 2px black solid;
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px;
        
    }
   }

   .carritoVacio{
    padding: 50px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: black;
   }

   .inicio{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #4a7150;
   }