.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    color: white;
    text-decoration: none;

    .tituloNavBar {
        font-size: 40px;
        display: flex;
        justify-content: end;
        color: white;
        text-decoration: none;

    }

    .categoriaNavBar {
        display: flex;
        justify-content: center;
        gap: 50px;

        .categorias {
            font-size: 24px;
            text-decoration: none;
            color: white;
        }
    }
}