
.NavBar{
 display: flex;
 justify-content: space-around; 
 align-items: center;  
 background-color: gray;
 color: white;
 .tituloNavBar{
    font-size: 40px;
    display: flex;
    justify-content: end;

}
.categoriaNavBar{
    justify-content: end;
    display: flex;
}
}