.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #16412f;
    color: white;
    text-decoration: none;
    padding: 10px;

    .tituloNavBar {
        font-size: 42px;
        display: flex;
        justify-content: end;
        color: wheat;
        text-decoration: none;
        font-family: 'Shadows Into Light', cursive;

    }

    .categoriaNavBar {
        display: flex;
        justify-content: center;
        gap: 50px;

        .categorias {
            font-size: 28px;
            text-decoration: none;
            color: wheat;
            font-family: 'Fjalla One', sans-serif;
        }
    }
}